## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd

In [6]:
my_list = [4, 8, 15, 16, 23,42]

pd_series = pd.Series(my_list)

pd_series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [7]:
my_list2 = ['a','b','c','d','e','f','g','h','i','j','k']

pd_series = pd.Series(my_list2)

print(pd_series)

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
dtype: object

## Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [9]:
dict_table = {'Name':['Alice','Bob','Claire'],
              'Age':[25,30,27],
              'Gender':['Female','Male','Female']}

pd_frame = pd.DataFrame(dict_table)

print(pd_frame)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame is a class whose object show a table with organised data.
DataFrame Shows data in Tabular format where Series show data in a non tabluar format .

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame?

1. dtypes()
2. head()
3. tail()
4. read_csv()
5. to_csv()

## Can  you give an example of when you might use one of these functions?

1. dtypes() -> check data type of data in each column
2. head() -> return data from start
3. tail() -> return data from back
4. read_csv() -> reads csv file
5. to_csv() -> writes csv file

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All pandas data structures are value-mutable (the values they contain can be altered) but not always size-mutable. The length of a Series cannot be changed, but, for example, columns can be inserted into a DataFrame.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)

df

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000